*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/

# IntelliJ files
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/*.iml
.idea/gradle.xml
.idea/ktlint-plugin.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/libraries/

# Nix
.direnv
.envrc
